* {
    margin: 0;
    padding: 0;
}

.taskCompleted {
    background-color: lightgray;
    color: blue;
    font-style: italic;
    text-decoration: line-through
}

.check,
.doneBtnBox,
.deleteBtn {
    text-align: center;
    vertical-align: middle;
}


